:root {
  --bg-page: #f0f2f0; // #008080;
  --bg-page-gradient: linear-gradient(to right, #f0f2f0, #000c40);
  --bg-minesweeper: #fdffff;

  --bg-cell: #ffffff;
  --bg-cell-cover: #eeeeee;
  --color-cell-border: #000000;
  --color-cell-cover-border: #dddddd;

  --color-one: #0d00ff;
  --color-two: #018001;
  --color-three: #ff0000;
  --color-four: #030081;
  --color-five: #800000;
  --color-six: #018081;
  --color-seven: #000000;
  --color-eight: #808080;

  --bg-pane: #ffffff;
  --bg-pane-header: #000080;
  --color-pane-header: #ffffff;
  --border-pane: #000080;

  --bg-menu: #eeeeee;
  --color-menu-item: #333;
  --bg-menu-item-hover: #dddddd;
  --color-menu-item-hover: #000;

  --cell-size: 26px;
}