:root {
  --bg-page: #008080;
  --bg-minesweeper: #fdffff;

  --bg-cell: #ffffff;
  --bg-cell-cover: #eeeeee;
  --color-cell-border: #000000;
  --color-cell-cover-border: #dddddd;

  --color-one: #0d00ff;
  --color-two: #018001;
  --color-three: #ff0000;
  --color-four: #030081;
  --color-five: #800000;
  --color-six: #018081;
  --color-seven: #000000;
  --color-eight: #808080;
}