.palmos {
  --color-one: #000080;
  --color-two: #0000ff;
  --color-three: #008000;
  --color-four: #800000;
  --color-five: #ff0000;
  --color-six: #ff00ff;
  --color-seven: #00ffff;
  --color-eight: #808080;
}