.cell {
  position: relative;
  display: flex;

  width: 2em;
  height: 2em;

  background: var(--bg-cell);
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &:after {
    content: '';
    display: block;
    background-image: url('../icons/cover.svg');
  }
}

.cell--open {
  &[data-mines] {
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @for $i from 1 through 8 {
    &[data-mines="#{$i}"] {
      background-image: url('../icons/#{$i}.svg');
    }
  }

  &:after {
    display: none;
  }
}

.cell--flagged {
  &:after {
    content: '';
    border: 0;
    background-image: url('../icons/flag.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.cell--mined {
  &:before {
    content: '';
    background-image: url('../icons/mine.svg');
  }

  &.cell--open {
    background: red;
  }
}


.minesweeper--over {
  .cell--mined:after {
    display: none;
  }

  .cell--flagged:after {
    display: block;
  }

  .cell--flagged:not(.cell--mined):after {
    background-image: url('../icons/nomine.svg');
  }
}

.field--pointed {
  .cell:hover:after {
    background-image: url('../icons/pressed.svg');
  }
}