.field {
  position: relative;
  display: grid;
  gap: 1px;
  padding: 1px;
  font-size: 13px;
  background: var(--color-cell-border);

  font-family: var(--ff-field);
}

.minesweeper--over {
  .field:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
}