.field {
  position: relative;
  display: grid;
  gap: 1px;
  padding: 1px;
  background: var(--field-bg);
  font-family: var(--ff-field);

  --cell-size: 2.6rem;
}

.minesweeper--over {
  .field:after {
    content: '';
    @extend %cover;
    background: rgba(0, 0, 0, 0.1);
  }
}

.field[data-cols='25'] {
  --cell-size: 1.8rem;
}

@media (min-width: 700px) {
  .field[data-cols='25'] {
    --cell-size: 2.6rem;
  }
}