.help {
  --cell-size: 20px;

  width: 300px;
  max-height: 250px;
  overflow: auto;
  padding: 0.5em;
  overflow: auto;

  .cell {
    display: inline-block;
    border: 1px solid var(--field-bg);
    font-size: 1em;
    line-height: 1;
    font-family: var(--ff-field);
    vertical-align: middle;
  }

  .field {
    width: fit-content;

    .cell {
      border: 0;
    }
  }

  .example {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
  }
}