.panes {
  position: relative;
}

.panes--modal {
  &:before {
    content: '';
    @extend %cover;
    z-index: 10;
  }
}

.pane {
  box-sizing: border-box;
  background-color: var(--bg-pane);
  border: 2px solid var(--border-pane);
  border-radius: 5px;

  &:last-child {
    margin-bottom: 0;
  }

}

.pane--hidden {
  display: none;
}

.pane--modal {
  position: absolute;
  // top: 1.8em;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.pane--win,
.pane--loose {
  min-width: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.pane__header {
  height: 1.8em;
  line-height: 1.8em;
  text-align: center;
  background-color: var(--bg-pane-header);
  color: var(--color-pane-header);
  font-family: var(--ff-sans-serif);
}

.message {
  text-align: center;
  padding: 0.5em;
}